<div class="container-fluid" ng-init="dept_view();">
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-12 mb-3">
      <div class=" shadow-lg p-4 rounded">
        <h5 class="d-flex justify-content-between align-items-center">
          <span>Department Section</span>
          <button class="btn btn-success" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"><i
              class="fa-solid fa-plus"></i></button>
        </h5>

        <div class="alert alert-success" ng-if="deleteMessage"><svg
            class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
            aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
          {{ deleteMessage }}
        </div>
        <div class="row pt-2">
          <div class="col-md-4 offset-md-8">
              <input class="form-control" type="search" ng-model="search" placeholder="Search"
                  aria-label="Search">
          </div>
      </div>

        <div class="card-body">
          <table class="table table-bordered border-dark">
            <thead class="table-light text-center border-dark">
              <tr>
                <th style="width: 10%;">#</th>
                <th style="width: 38%;">Department</th>
                <th style="width: 38%;">H.O.D</th>
                <th style="width: 14%;">Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr ng-repeat="x in dept_data | filter:search">
                <th>{{$index+1}}</th>
                <td>{{x.dept_name}}</td>
                <td>{{x.hod}}</td>
                <td><button class="btn btn-warning" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    ng-click="dept_edit(x.id)"><i
                      class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-danger"><i class="fa-solid fa-trash"
                      ng-click="dept_delete(x.id);"></i></button>
                </td>
              </tr>
            </table>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4 text-center text-danger"
                ng-if="dept_data.length === 0">
                <h3>{{ noDataMessage }} !</h3>
              </div>
              <div class="col-lg-4"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal sections -->
  <!-- insert Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create New
            Departments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="form-floating">
                <input class="form-control" ng-model="dept_name">
                <label for="floatingTextarea">
                  Department Name</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="form-floating">
                <input class="form-control" ng-model="hod">
                <label for="floatingTextarea">
                  H.O.D Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
            data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>
            Close</button>
          <button type="button" class="btn btn-success"
            ng-click="dept_entry();"><i class="fa-solid fa-floppy-disk"></i>
            Create</button>

        </div>
      </div>
    </div>
  </div>

  <!-- edit Modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Created
            Departments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="form-floating">
                <input class="form-control" ng-model="dept_name">
                <label for="floatingTextarea">
                  Department Name</label>
                <input type="hidden" class="form-control" ng-model="idd">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="form-floating">
                <input class="form-control" ng-model="hod">
                <label for="floatingTextarea">
                  H.O.D Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
            data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>
            Close</button>
          <button type="button" class="btn btn-success"
            ng-click="dept_update()"><i class="fa-solid fa-download"></i>
            Update</button>

        </div>
      </div>
    </div>
  </div>